# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?

# Thumbnails
._*

# macOS metadata
.Spotlight-V100
.Trashes

# macOS volume info
.VolumeIcon.icns

# macOS Finder tags
.fseventsd

# Node/React
node_modules/
build/
dist/
.env

# Shell history and logs
*.log
*.swp

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/
